body{
  margin:0;
}
a{
  color:1658F1;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}
h1{
  font-size: 45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin: 0px;
  padding:20px;
}
ul{
  border-right: 1px solid gray;
  width:150px;
  margin: 0;
  padding-top: 20px;
}
#grid {
  border-left:1px solid gray;
  display: grid;
  grid-template-columns: 210px 1fr;
}
.content{
  padding: 20px;
}
@media(max-width:550px){
  #grid {
    display: block;
    border:none
  }
  h1{
    border-bottom: none;
  }
  ul{
    border-right: none;
  }
}
